.music-line {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: space-between;

  padding: 10px;
}


/* CARD */

.card__wrapper {
  width: 400px;
  min-width: 290px;
  height: 450px;
  background-color: black;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s;

  position: relative;

  margin: 10px;
}

.card__wrapper:hover {
  box-shadow: 25px 25px 30px rgba(255, 0, 0, 0.4);
}

.card__wrapper:hover .overlay .play-button {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.card__wrapper:hover .overlay {
  height: 40%;
}

.card__wrapper:hover .overlay h2 {
  margin-top: 98px;
}

/* BACKGROUND IMAGE */

img.card__poster {
  width: 100%;
  height: 130%;
  object-fit: cover;
  transition: .5 ease-in-out;
}


/* OVERLAY */

div.overlay {
  width: 100%;
  height: 25%;

  position: absolute;
  bottom: 0;

  background: linear-gradient(to top, black 0%, transparent 100%);

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;

  transition: 0.5s ease-in-out;
  
}

h2,
h3,
h4 {
  margin: 0px;
  font-weight: normal;
  transition: 0.5s ease-in-out;
}

h2 {
  margin-top: 30px;
}

h3 {
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}


/* PLAY BUTTON */

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;

  cursor: pointer;
  /* center the triangle */
  position: absolute; /* parent of triangle! */
  
  left: -100px;
  opacity: 0;
  top: 30%;
  transition: .5s ease-in-out;
}

div.triangle {
  /* triangle made with css generator  */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 15px;
  border-color: transparent transparent transparent white;

  /* center the triangle */
  position: absolute; /* refers to NON static parent === absolute also works! */
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}


/* UTILITY CLASS */

.ellipsis {
    white-space: nowrap; /* text doesn't wrap (new line) */
    text-overflow: ellipsis; /* ... */
    overflow: hidden;
}