.card__wrapper {
    width: 400px;
    height: 450px;
    background-color: black;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 15px 15px 30px rgba(0,0,0,0.4);
    transition: box-shadow .4s;
}

.card__wrapper:hover {
    box-shadow: 20px 20px 30px rgba(255, 0, 0, 0.4);
}

img.card__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}